<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Assist</title>

		<!-- Firebase init -->
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
		<script src="static/firebase.js"></script>

		<style> [v-cloak] { display: none; } </style>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="static/base.js"></script>

	</head>

	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Assist</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="main_nav">
				{{if .Session.EmailVerified}}
				{{if .Session.Role}}
				<ul class="nav navbar-nav">
					<li><a id="navbar-home" class="nav-link" href="/home">Home</a></li>
					<li><a id="navbar-squads" class="nav-link" href="/squads">Squads</a></li>
					<li><a id="navbar-events" class="nav-link" href="/events">Events</a></li>
					<li><a id="navbar-about" class="nav-link" href="/about">About</a></li>
				</ul>
				{{end}}
				{{end}}			
				<ul class="nav navbar-nav ml-auto">
				    <li class="nav-item"><hr class="border-top"></li>
					<li> <a id="navbar-userinfo" class="nav-link" href="userinfo">{{.Session.DisplayName}} ({{.Session.Email}})</a> </li>
					<li><a class="nav-link" href="#" onclick="postSignOut()">Sign out</a></li>
				</ul>
			</div>
		</nav>

		{{if .Session.Role}}
		{{else}}
			<script>
				var path = window.location.pathname+window.location.search;
				if(path != '/userinfo') {
					window.location.assign('/userinfo');
				}
			</script>
		{{end}}
		<div class="container-lg mt-2 px-0 px-md-3">
				{{template "body" . }}
		</div>

	</body>
</html>
