<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Assist</title>

		<!-- Firebase init -->
		<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-messaging.js"></script>
		<script src="/static/firebase.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
		{{if .Dev}}
		<script src="https://unpkg.com/vue@next"></script>
		{{else}}
		<script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
		{{end}}
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/base.css" rel="stylesheet"/>

	</head>

	<body class="bg-light">

		{{.CSRFTag}}
		<script> 
			var messagingToken = "{{.MessagingToken}}";
		{{if .Session }}
			var userId = "{{.Session.UID}}"; 
			var notificationsCount = {{.NotificationsCount}};
		{{else}}
			var notificationsCount = 0;
		{{end}}
		</script>

		<nav id="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Assist</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="main_nav">
				<ul class="nav navbar-nav">
				{{if .Session}}
				{{if .Session.Status}}
					<li><a id="navbar-home" class="nav-link" href="/home">Home</a></li>
					<li><a id="navbar-squads" class="nav-link" href="/squads">Squads</a></li>
					<li><a id="navbar-events" class="nav-link" href="/events">Events</a></li>
					<li><a id="navbar-requests" class="nav-link" href="/requests">Requests</a></li>
				{{end}}
				{{end}}			
					<li><a id="navbar-about" class="nav-link" href="/about">About</a></li>
				</ul>
				<ul class="nav navbar-nav ml-auto">
				    <li class="nav-item"><hr class="border-top"></li>
				{{if .Session}}
					<li> <a id="navbar-userinfo" class="nav-link" href="/userinfo">{{.Session.DisplayName}} ({{.Session.Email}})</a> </li>
					<li>
						<div class="custom-control custom-switch m-2">
							<input type="checkbox" class="custom-control-input" id="switchNotifications" v-model="notificationsEnabled" @change="toggleNotifications">
							<label class="text-light custom-control-label" for="switchNotifications">Notifications</label>
						</div>
					</li>
					<li v-if="notificationsCount>0">
						<span class="fa-stack fa-1x m-1">
							<a class="notifications" :data-count="notificationsCount" href="#" @click="showNotifications">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-bell fa-stack-1x fa-inverse"></i>
							</a>
						</span>
					</li>
					<li><a class="nav-link" href="#" @click="postSignOut()">Sign out</a></li>
				{{else}}
					<li> <a id="navbar-userinfo" class="nav-link" href="/login">Login</a> </li>
				{{end}}
				</ul>
			</div>
		</nav>

		<div class="container-fluid mt-2 px-0 px-md-3">
			<div id="notifications" style="position: relative; z-index:100;">
				<!-- Position it -->
				<div class="toast-container" style="position: absolute; top: 0; right: 0;">

					<!-- Then put toasts within -->
					<div v-for="n in toastNotifications" class="toast bg-light hide" role="alert" data-autohide="false">
						<div class="toast-header">
							<strong class="mr-auto">[[n.title]]</strong>
							<small class="text-muted mx-2">[[formatTime(n.time)]]</small>
							<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
								<span>&times;</span>
							</button>
						</div>
						<div class="toast-body">
							[[n.text]]
						</div>
					</div>

				</div>
			</div>
			<script src="/static/base.js"></script>

			{{template "body" . }}
		</div>

	</body>
</html>
