<script> document.getElementById("navbar-events").classList.add("active"); </script>

{{if .Session.Admin}}
<script> var userIsAdmin = true; </script>
{{else}}
<script> var userIsAdmin = false; </script>
{{end}}

<script> var currentUserId = `{{.Session.UID}}`;</script>

<div id="app">
	<div v-if="loading">
		<div class="mt-5" align="center">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<!-- Modal Windows -->
		<add-event-dialog :evnt="newEvnt" :squads="squads" window-id="addEventModal" title="Create Event" v-on:submit-form="addEvent($event)"></add-event-dialog> 

		<!-- Main View -->
		<div v-if="error_message.length > 0" class="alert alert-danger mx-1 my-2 p-1 text-wrap text-break" role="alert">
			[[ error_message ]]
		</div>
		<div class="d-flex flex-wrap">
			<div class="breadcrumb justify-content-between align-items-center flex-grow-1 p-1 mb-1 mx-1">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item active">My Events</li>
				</ol>
			</div>

			<div v-if="Object.keys(squads).length > 0"  class="ml-auto p-0 mr-1 mb-1">
				<button type="button" class="btn btn-info add-new p-1 ml-1" data-toggle="modal" data-target="#addEventModal"><i class="fa fa-plus"></i> Create Event</button>
			</div>
		</div>

		<div class="mx-3">
			<div class="m-1">
				<div v-for="(e, i) in events" class="row border pb-3">
					<div class="col-sm-2">
						<div class="d-flex justify-content-center align-items-center">
							<h1 class="mb-0 mr-2 text-primary font-weight-normal">[[e.date.toLocaleString('en-US', {day : '2-digit'})]]</h1>
							<div>
								<p class="font-weight-bold mb-0 text-dark">[[ e.date.toLocaleString('en-US', { month: 'short' })]]</p>
								<p class="mb-0">[[e.date.getFullYear()]]</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 pl-3">
						<p v-if="e.timeFrom" class="mb-0">[[e.timeFrom]] - [[e.timeTo]]</p>
						<p class="text-dark font-weight-bold mb-0">Squad: [[e.squadId]]</p>
						<p class="text-dark mb-0">[[e.text]]</p>
					</div>
					<div class="col-sm-3 pl-3">
						<span v-if="e.ownerId==currentUserId" class="badge badge-primary">I am owner</span>
						<span v-else-if="e.status==2" class="badge badge-success">I am going</span>
						<span v-else-if="e.status==1" class="badge badge-warning">Applied, waiting confirmation</span>
						<span v-else class="badge badge-secondary">I do not go</span>
						<div class="m-0" v-for="i in 4">
							<span v-if=" e[getEventStatusText(i)] > 0 ">
								<a v-if="userIsAdmin || (squads[e.squadId] != null && squads[e.squadId].status > 1)" title="Check attendies" href="#" @click.stop.prevent="showAttendies(e, i)">
									[[e[getEventStatusText(i)] ]] [[getEventStatusText(i)]]
								</a>
								<span v-else>
									[[e[getEventStatusText(i)] ]] [[getEventStatusText(i)]]
								</span>
							</span>
						</div>
					</div>
					<div class="col-sm-2 pl-3">
						<a v-if="userIsAdmin || (squads[e.squadId] != null && squads[e.squadId].status > 1)" title="Check attendies" href="#" @click.stop.prevent="showAttendies(e, 0)">
							<i class="m-3 fas fa-list-alt fa-lg"></i>
						</a>
						<a v-if="userIsAdmin || e.ownerId == currentUserId" title="Delete event" href="#" @click.stop.prevent="deleteEvent(e, i)">
							<i class="m-3 fa fa-trash fa-lg"></i>
						</a>
						<span v-if="e.ownerId != currentUserId" class="m-0 p-0">
							<a v-if="e.status == 0" title="Count me in!" href="#" @click.stop.prevent="registerForEvent(e, i)">
								<i class="m-3 fas fa-sign-in-alt fa-lg"></i>
							</a>
							<a v-else title="Will not attend :(" href="#" @click.stop.prevent="declineEvent(e ,i)">
								<i class="m-3 fas fa-sign-out-alt fa-lg"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/components/events.js"></script>
<script src="/static/events.js"></script>
