<div class="container-fluid">
	<h1>About</h1>

	<p>
	There have been several reasons to create this portal:
	<ul>
		<li> <s>Because I can</s> To get experience of developing web app using modern frameworks and technologies: Google Application Engine (Cloud Firestore, Firebase Auth) + Go + <s>modern vanilla JS</s>Vue + Bootstrap.</li>
		<li> I've got vague feeling that modern web is missing a platform, that would allow to define (or better identify itself) entities which surround us and actually form our life (people, places, events, needs), link them with each other and define actions on top of these entities intersection. Here I try to build working model for my ideas.</li>
		<li> Being able to create code should definitely have positive day-to-day outcome. Here I will implement automation for certain scenarios that drive me mad for years.</li>
	</ul>
	</p>

	<p>
	Author is available <a href="https://www.linkedin.com/in/timur-k/"><i class="fab fa-linkedin"></i> here</a>. Source codes are available <a href="https://github.com/timurkh/Assist"><i class="fab fa-github"></i> here</a>. App is using GAE free tier, this is BTW the only reason to have manual approve of the new user (which I hope is a temporary limitation).
	</p>
</div>
