<script> document.getElementById("navbar-home").classList.add("active"); </script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"> </script>
<!-- TODO: use production version <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

<div id="app" class="container-lg mt-2">
	<div class="table-responsive-lg table-body">
		<div class="table-wrapper">
			<div class="breadcrumb d-flex justify-content-between align-items-center pt-0 pb-0 pr-0 mb-1">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item">Home</li>
				</ol>
			</div>

			<div class="row mt-3">
				<div class="col-xl-4 col-sm-6 py-2">
					<div class="card bg-success text-white h-100">
						<div class="card-body bg-success">
							<div class="rotate">
								<i class="fa fa-user fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Users</h6>
							<h1 class="display-4">134</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-sm-6 py-2">
					<div class="card text-white bg-danger h-100">
						<div class="card-body bg-danger">
							<div class="rotate">
								<i class="fa fa-list fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Posts</h6>
							<h1 class="display-4">87</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-sm-6 py-2">
					<div class="card text-white bg-warning h-100">
						<div class="card-body">
							<div class="rotate">
								<i class="fa fa-share fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Shares</h6>
							<h1 class="display-4">36</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
