<script> document.getElementById("navbar-home").classList.add("active"); </script>

<script> var userId = "{{.Session.UID}}"; </script>
<div id="app">
	<div v-if="loading">
		<div class="d-flex justify-content-center mt-5">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<div class="breadcrumb d-flex justify-content-between align-items-center pt-2 pb-2 pr-0 mb-1 mx-1">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item">Home</li>
			</ol>
		</div>

		<!-- Main View -->
		<div v-if="error_message.length > 0" class="alert alert-danger m-1 mt-2 text-wrap text-break" role="alert">
			[[ error_message ]]
		</div>
		<div class="table table-body mx-0 px-0">
				<div class="row px-0 mx-0">
					<div class="col-xl-4 col-sm-6 px-1 my-1">
						<div class="card text-white h-100">
							<div :class="getSquadsClass()">
								<div class="row">
									<div class="col-4">
										<div >
											<i class="fa fa-users fa-4x"></i>
										</div>
										<h6 class="text-uppercase">My Squads</h6>
									</div>
									<div class="col-8 px-0">
										<h6 class="text-uppercase" align="center">Total [[getSquadsCount()]]:</h6>
										<table class="table text-white table-borderless mx-0">
											<tr v-for="(count, index) in homeCounters['squads']" class="py-0 my-0">
												<td class="py-0">
													[[getStatusText(index)]]
												</td>
												<td class="text-center align-middle py-0">
													-
												</td>
												<td class="align-middle py-0">	
													[[count]]
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6 px-1 px-xl-3 my-1">
						<div class="card text-white h-100">
							<div :class="getTodoClass()">
								<div class="row">
									<div class="col-4">
										<div>
											<i class="fas fa-tasks fa-4x"></i>
										</div>
										<h6 class="text-uppercase">TODO</h6>
									</div>
									<div class="col-8 px-0">
										<h6 class="text-uppercase" align="center">Squads with Approval requests:</h6>
										<table class="table text-white table-borderless mx-0">


											<tr v-if="homeCounters['pendingApprove'] != null" v-for="(squad, index) in homeCounters['pendingApprove'].slice(0,3)" class="py-0 my-0">
												<td class="py-0">
													<a :href="`/squads/${squad.squad}/members?status=Pending+Approve`" class="text-reset">[[squad.squad]]</a>
												</td>
												<td class="text-center align-middle py-0">
													-
												</td>
												<td class="align-middle py-0">	
													<a :href="`/squads/${squad.squad}/members?status=Pending+Approve`" class="text-reset">[[squad.count]]</a>
												</td>
												<tr v-if="homeCounters['pendingApprove'] != null && homeCounters['pendingApprove'].length > 3" class="py-0 my-0">
												<td class="text-center align-middle py-0">
													...
												</td>
											</tr>
			</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6 px-1 my-1">
						<div class="card text-white h-100">
							<div :class="getEventsClass()">
								<div class="row">
									<div class="col-4">
										<div>
											<i class="fa fa-list fa-4x"></i>
										</div>
										<h6 class="text-uppercase">Events</h6>
									</div>
									<div class="col-8 px-0">
										<h6 class="text-uppercase" align="center">Upcoming Events:</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<script src="static/home.js"></script>
