<script> document.getElementById("navbar-squads").classList.add("active"); </script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- TODO: use production version <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

<div id="app">

	<div v-if="loading">
		<div class="mt-5" align="center">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<!-- Modal windows-->
		<div class="modal fade" id="addNewSquadModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addNewSquadModalLabel">Add New Squad</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group" >
								<label for="squadName">Squad Name</label>
								<input type="text" id="squadName" class="form-control" v-model="squadName">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="submitNewSquad()" data-dismiss="modal">Create Squad</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="joinSquadModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="joinSquadModalLabel">Join Existing Squad</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<select v-model="squadToJoin" class="form-control" size="3">
									<option  v-for="(squad, index) in other_squads" :value="{id:squad.id, index:index}">[[squad.name]]</option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="joinSquad()" data-dismiss="modal">Join Selected Squad</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Main View -->
		<div v-if="!loading && own_squads.length == 0" class="alert alert-primary m-1" role="alert">
			You are not a member of any squad. Go ahead and join existing one or create your own.
		</div>

		<div v-if="error_message.length > 0" class="alert alert-danger m-1" role="alert">
			[[ error_message ]]
		</div>

		<div class="container-fluid m-0 p-0">
			<div class="d-flex flex-wrap">
				<div class="breadcrumb justify-content-between align-items-center flex-grow-1 p-1 m-1">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item active">My Squads</li>
					</ol>
				</div>

				<div class="ml-auto p-0 m-1">
					<button type="button" class="btn btn-info add-new p-1" data-toggle="modal" data-target="#joinSquadModal"><i class="fas fa-user-plus"></i> Join Squad</button>
					<button type="button" class="btn btn-info add-new p-1" data-toggle="modal" data-target="#addNewSquadModal"><i class="fa fa-plus"></i> Create Squad</button>
				</div>
			</div>

			<div class="table-responsive-lg m-0 p-1">
				<table class="table table-sm table-bordered m-0">
					<thead class="thead-dark text-truncate">
						<tr class="d-flex">
							<th class="col-lg-5 col-md-4 col-sm-5 text-truncate">Squad</th>
							<th class="col-lg-2 col-md-3 d-none d-md-table-cell text-truncate">Members Count</th>
							<th class="col-lg-3 col-md-3 col-sm-4 text-truncate">My Status</th>
							<th class="col-lg-2 col-md-2 col-sm-3 text-truncate">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="d-flex" v-for="(squad, index) in own_squads">

							<td class="col-lg-5 col-md-4 col-sm-5 text-truncate"><a href="#" v-on:click="showSquadDetails(squad.id, index)">[[squad.name]]<a></td>
							<td class="col-lg-2 col-md-3 d-none d-md-table-cell text-truncate">[[squad.membersCount]]</td>
							<td class="col-lg-3 col-md-3 col-sm-4 text-truncate">[[squad.status]]</td>
							<td class="col-lg-2 col-md-2 col-sm-3" align="center text-truncate">
								<div class="d-flex">
									<div class="flex-fill">
										<a title="Details" data-toggle="tooltip" v-on:click="showSquadDetails(squad.id, index)" href="#"><i class="fas fa-info-circle fa-lg"></i></a>
									</div>
									<div class="flex-fill">
										<a title="Edit" data-toggle="tooltip" v-on:click="editSquad(squad.id, index)" href="#"><i class="fas fa-edit fa-lg"></i></a>
									</div>
									<div class="flex-fill">
										<a title="Delete" data-toggle="tooltip" v-on:click="deleteSquad(squad.id, index)" href="#"><i class="fas fa-minus-circle fa-lg"></i></a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="static/squads.js"></script>
