<script> document.getElementById("navbar-squads").classList.add("active"); </script>

<script> var squadId = "{{.SquadID}}"; </script>

<div id="app">
	<div v-if="loading">
		<div class="mt-5" align="center">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<!-- Modal Windows -->
		<note-dialog :note="noteNew" window-id="addNoteModal" title="Add Note" v-on:submit-form="addNote($event)"></note-dialog>
		<note-dialog :note="noteToEdit" window-id="editNoteModal" title="Edit Note" v-on:submit-form="saveNote($event)"></note-dialog>

		<div class="modal fade" id="addRequestsQueueModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Requests Queue</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="newQueue">Name</label>
								<input type="text" id="newQueue" class="form-control" v-model="newQueue.name">
							</div>
							<div class="form-group">
								<label for="newQueueApprovers">Approvers</label>
								<select id="newQueueApprovers" class="m-0 mb-1 pt-1 form-select" style="width:100%;" v-model="newQueue.approvers">
									<option value="" selected></option>
									<option v-for="tag in getTagValues(tags)" :value="tag">[[tag]]</option>
								</select>
								<small id="tagValuesHelp" class="form-text text-muted">If left empty, queue does not require approve</small>
							</div>
							<div class="form-group">
								<label for="newQueueHandlers">Handlers</label>
								<select id="newQueueHandlers" class="m-0 mb-1 pt-1 form-select" style="width:100%;" v-model="newQueue.handlers">
									<option value="" selected></option>
									<option v-for="tag in getTagValues(tags)" :value="tag">[[tag]]</option>
								</select>
								<small id="tagValuesHelp" class="form-text text-muted">Squad admins always can approver & handle requests</small>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="addTag()" data-dismiss="modal">Add</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Tag</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="newTag">Name</label>
								<input type="text" id="newTag" class="form-control" v-model="newTag.name">
							</div>
							<div class="form-group">
								<label for="newTagValues">Values</label>
								<textarea id="newTagValues" class="form-control" v-model="newTagValues"></textarea> 
								<small id="tagValuesHelp" class="form-text text-muted">If specified, each non empty line will become one of exclusive tag values</small>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="addTag()" data-dismiss="modal">Add</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Main View -->
		<div v-if="error_message.length > 0" class="alert alert-danger mx-1 my-2 p-1 text-wrap text-break" role="alert">
			[[ error_message ]]
		</div>

		<div class="d-flex flex-wrap">
			<div class="breadcrumb justify-content-between align-items-center flex-grow-1 p-1 my-1 mx-1">
				<ol class="breadcrumb my-0 p-0">
					<li class="breadcrumb-item d-none d-sm-block">My Squads</li>
					<li class="breadcrumb-item active">"{{.SquadID}}": 
						&nbsp;<a href="#Details">Details</a>
						<span v-if="tags.length>0">,&nbsp;<a href="#Tags">Tags</a></span> 
						<span v-if="notes.length>0">,&nbsp;<a href="#notesAccordion">Notes</a></span> 
						&nbsp; | &nbsp; <a href="/squads/{{.SquadID}}/members"> Members</a></li>
				</ol>
			</div>

			<div class="ml-auto p-0 mr-1 my-1">
				<button type="button" class="btn btn-info add-new p-1" data-toggle="modal" data-target="#addNoteModal"><i class="fa fa-plus"></i> Add Note</button>
				<button type="button" class="btn btn-info add-new ml-1 p-1" data-toggle="modal" data-target="#addTagModal"><i class="fa fa-plus"></i> Add Tag</button>
				<button type="button" class="btn btn-info add-new ml-1 p-1" data-toggle="modal" data-target="#addRequestsQueueModal"><i class="fa fa-plus"></i> Add Requests Queue</button>
			</div>
		</div>


		<!-- Details -->
		<div class="mb-3 border-gray p-0">
			<div class="border m-1 bg-white rounded box-shadow" id="Details">
				<h5 class="border-bottom border-gray p-2 mx-2 mt-2 mb-0">Details</h6>

				<div class="d-flex flex-wrap m-1 p-0">
					<div class="border bg-light p-3 m-2">
						<h6> Members: </h6>
						[[ squad.membersCount]] <span v-if="squad.pendingApproveCount > 0">([[squad.pendingApproveCount]] pending)</span>
					</div>
					<div class="border bg-light p-3 m-2">
						<h6> Owner: </h6> 
						[[squad.ownerInfo.displayName]]
					</div>
					<div class="border bg-light p-3 m-2">
						<h6> Admins: </h6> 
						[[squad.admins.map(x => x.displayName).join(", ")]]
					</div>
				</div>
			</div>
		</div>

		<!-- Tags -->
		<div class="mb-3 border-gray p-0" v-if="tags.length>0">
			<div class="border m-1 p-3 bg-white rounded box-shadow" id="Tags">
				<h5 class="border-bottom border-gray pb-2 mb-0">Tags</h6>
				<table class="table mb-0" v-if="tags.length>0">
					<thead> 
						<th>Name</th>
						<th>Values</th>
						<th class="text-right">Members</th>
						<th></th>
					</thead>
					<tbody>
						<tr v-for="(tag, i) in tags" class="border-bottom border-grey">
							<td v-if="getTagHasValues(tag)">[[tag.name]]</td>
							<td v-else scope="row"><a href="#" @click.stop.prevent="">[[tag.name]]</a></td>
							<td>
								<div v-for="(c, v) in tag.values"><a href="#" v-if="v != '_'" @click.stop.prevent="">[[v]]</a></div>
							</td>
							<td align="right">
								<span v-if="!getTagHasValues(tag)">[[ tag.values['_'] ]]</span>
								<div v-else v-for="(c, v) in tag.values"><span v-if="v != '_'">[[c]]</span></div>
							</td>
							<td align="right"><small><a href="#" v-on:click.stop.prevent="deleteObject('tag', tag.name, i)">Delete</a></small></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Notes -->
		<div class="mb-3 p-0" v-if="notes.length>0">
			<div class="border m-1 p-3 bg-white rounded box-shadow" id="notesAccordion">
				<h5 class="border-bottom border-gray pb-2 mb-0">Notes</h6>
				<div v-for="(note, i) in notes.slice(0, 3)" class="pt-2">
					<div :class="i>0?`pb-2 mb-0 lh-125 border-top border-gray`:`pb-2 mb-0 lh-125`">
						<div class="w-100">
							<a data-toggle="collapse" :href="'#note_' + i"> <strong class="text-gray-dark">[[getNoteTitle(note)]]</strong></a>
						</div>
						<div :id="'note_' + i" class="collapse" data-parent="#notesAccordion">
							<pre style="white-space: pre-wrap; word-break: normal;">[[note.text]]</pre>
							<div align="right">
								<small>
									<a href="#" v-if="note.published" v-on:click.stop.prevent="toggleNote(note, i)">Unpublish</a> &nbsp; 
									<a href="#" v-else v-on:click.stop.prevent="toggleNote(note, i)">Publish</a> &nbsp; 
									<a href="#" v-on:click="editNote(note, i)">Edit</a> &nbsp; 
									<a href="#" v-on:click="deleteObject('note', note.id, i)">Delete</a>
								</small>
							</div>
						</div>
					</div>
				</div>
				<div id="otherNotes" class="collapse">
					<div v-for="(note, i) in notes.slice(3)" class="pt-2">
						<div class="pb-2 mb-0 lh-125 border-top border-gray">
							<div class="w-100">
								<a data-toggle="collapse" :href="'#note_' + i+3"> <strong class="text-gray-dark">[[getNoteTitle(note)]]</strong></a>
							</div>
							<div :id="'note_' + i+3" class="collapse" data-parent="#notesAccordion">
								<pre>[[note.text]]</pre>
								<div>
									<small>
										<a href="#" v-if="note.published" v-on:click.stop.prevent="toggleNote(note, i+3)">Unpublish</a> &nbsp; 
										<a href="#" v-else v-on:click.stop.prevent="toggleNote(note, i+3)">Publish</a> &nbsp; 
										<a href="#" v-on:click.stop.prevent="editNote(note, i+3)">Edit</a> &nbsp; 
										<a href="#" v-on:click.stop.prevent="deleteObject('note', note.id, i+3)">Delete</a>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<small v-if="notes.length > 3" class="d-block text-right mt-1">
					<a data-toggle="collapse" class="collapsed" href="#otherNotes">
						<span class="if-collapsed">More Notes</span>
						<span class="if-not-collapsed">Less Notes</span>
					</a>
				</small>
			</div>
		</div>
	</div>
</div>

<script src="/static/components/notes.js"></script>
<script src="/static/squadDetails.js"></script>
