<script> document.getElementById("navbar-squads").classList.add("active"); </script>

{{if .Session.Admin}}
<script> var userIsAdmin = true; </script>
{{else}}
<script> var userIsAdmin = false; </script>
{{end}}

<div id="app">
	<div v-if="loading">
		<div class="mt-5" align="center">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<!-- Modal windows-->
		<div class="modal fade" id="addNewSquadModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addNewSquadModalLabel">Add New Squad</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group" >
								<label for="squadName">Squad Name</label>
								<input type="text" id="squadName" class="form-control" v-model="squadName">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="submitNewSquad()" data-dismiss="modal">Create Squad</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="joinSquadModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="joinSquadModalLabel">Squads</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<input type="text" id="squadNamePrefix" class="form-control" v-model="squadNamePrefix" placeholder="Filter">
							</div>
							<div class="form-group">
								<select v-model="squadToJoin" class="form-control" size="5">
									<option  v-for="(squad, index) in other_squads.filter(squad => squad.toLowerCase().includes(squadNamePrefix.toLowerCase()))" :value="{id:squad, index:index}">[[squad]]</option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="joinSquad()" data-dismiss="modal">Join Selected Squad</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Main View -->
		<div v-if="own_squads.length == 0" class="alert alert-primary mx-1 my-2 p-1" role="alert">
			You are not a member of any squad. Go ahead and join existing one or create your own.
		</div>

		<div v-if="error_message.length > 0" class="alert alert-danger mx-1 my-2 p-1 text-wrap text-break" role="alert">
			[[ error_message ]]
		</div>

		<div class="d-flex flex-wrap">
			<div class="breadcrumb justify-content-between align-items-center flex-grow-1 p-1 my-1 mx-1">
				<ol class="breadcrumb my-0 p-0">
					<li class="breadcrumb-item active">My Squads</li>
				</ol>
			</div>

			<div class="ml-auto p-0 mr-1 my-1">
				<button type="button" class="btn btn-info add-new p-1" data-toggle="modal" @click="showJoinSquadModal"><i class="fas fa-user-plus"></i> Join Squad</button>
				<button type="button" class="btn btn-info add-new p-1 ml-1" data-toggle="modal" data-target="#addNewSquadModal"><i class="fa fa-plus"></i> Create Squad</button>
			</div>
		</div>

		<div class="table-responsive-lg m-1 p-0">
			<table class="table table-sm table-bordered m-0">
				<thead class="thead-dark text-truncate">
					<tr class="">
						<th class="text-wrap">Squad</th>
						<th class="text-wrap d-none d-md-table-cell">Members Count</th>
						<th class="text-wrap d-table-cell d-sm-table-cell d-md-none">Members</th>
						<th class="text-wrap d-none d-md-table-cell">Pending Approve</th>
						<th class="text-wrap d-table-cell d-sm-table-cell d-md-none">Pending</th>
						<th class="text-wrap d-none d-md-table-cell">My Status</th>
						<th class="text-wrap d-table-cell d-sm-table-cell d-md-none">Status</th>
						<th class="text-wrap d-none d-md-table-cell">Actions</th>
						<th class="text-wrap d-table-cell d-md-none">Actns</th>
					</tr>
				</thead>
				<tbody>
					<tr class="" v-for="(squad, index) in own_squads">

						<td class="text-wrap">
							<a v-if="squad.status>=1" href="#" v-on:click="showSquadDetails(squad.id, index)">[[squad.id]]</a>
							<div v-else>[[squad.id]]</div>
						</td>
						<td class="text-wrap">
							<a v-if="squad.status==3 || squad.status==2" href="#" v-on:click="showSquadMembers(squad.id, index)">[[squad.membersCount]]</a>
							<div v-else>[[squad.membersCount]]</div>
						</td>
						<td class="text-truncate">[[squad.pendingApproveCount]]</td>
						<td class="text-truncate">[[getStatusText(squad.status)]]</td>
						<td class="text-wrap" align="center">
							<span v-if="userIsAdmin || squad.status >= 1">
								<a title="Details" data-toggle="tooltip" v-on:click="showSquadDetails(squad.id, index)" href="#"><i class="fas fa-info-circle fa-lg p-1"></i></a>
							</span>
							<span v-if="userIsAdmin || squad.status >= 2">
								<a title="Members" data-toggle="tooltip" v-on:click="showSquadMembers(squad.id, index)" href="#"><i class="fas fa-users fa-lg p-1"></i></a>
							</span>
							<span v-if="userIsAdmin || squad.status == 3">
								<a title="Delete" data-toggle="tooltip" v-on:click="deleteSquad(squad.id, index)" href="#"><i class="fas fa-minus-circle fa-lg p-1"></i></a>
							</span>
							<span v-if="squad.status != 3">
								<a title="Leave" data-toggle="tooltip" v-on:click="leaveSquad(squad.id, index)" href="#"><i class="fas fa-sign-out-alt fa-lg p-1"></i></a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script src="static/squads.js"></script>
