<script> document.getElementById("navbar-squads").classList.add("active"); </script>

<script> var squadId = "{{.SquadID}}"; </script>

<div id="app">
	<div v-if="loading">
		<div class="mt-5" align="center">
			<div class="spinner-border mt-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div v-if="!loading" v-cloak>
		<!-- Modal Windows -->
		<add-note-dialog :note="note" window-id="addNoteModal" :title="note.dialog_title" v-on:submit-form="submitNote($event)"></add-note-dialog>
		<add-member-dialog window-id="addMemberModal" v-on:submit-form="addMember($event)"> </add-member-dialog>
		<change-status-dialog window-id="changeMemberStatusModal" :member="changeMember" v-on:submit-form="setMemberStatus($event)"> </change-status-dialog>
		<add-tag-dialog window-id="addTagModal" :member="changeMember" :tags="tags" v-on:submit-form="setMemberTag($event)"> </add-tag-dialog>
		<show-note-dialog window-id="showNoteModal" :note="note" v-on:submit-form="submitNote($event)" v-on:delete="deleteNote($event)" ref="showNoteDialogRef"></show-note-dialog>

		<!-- Main View -->
		<div v-if="error_message.length > 0" class="alert alert-danger mx-1 my-2 p-1 text-wrap text-break" role="alert">
			[[ error_message ]]
		</div>

		<div class="d-flex flex-wrap">
			<div class="breadcrumb justify-content-between align-items-center flex-grow-1 p-1 mb-1 mx-1">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item d-none d-sm-block">My Squads</li>
					<li class="breadcrumb-item active">"{{.SquadID}}" | &nbsp; <a href="/squads/{{.SquadID}}"> Details</a></li>
				</ol>
			</div>
			<div v-if="squadId != `All Users`" class="ml-auto p-0 mr-1 mb-1">
				<button type="button" class="btn btn-info add-new p-1" data-toggle="modal" data-target="#addMemberModal"><i class="fa fa-plus"></i> Add New Member</button>
			</div>
		</div>

		<div class="table-responsive-lg m-1 p-0">
			<table class="table table-sm table-bordered m-0">
				<thead class="thead-dark text-truncate">
					<tr class="">
						<th class="text-truncate">Member</th>
						<th class="text-truncate d-none d-sm-table-cell">Email</th>
						<th class="text-truncate d-none d-sm-table-cell">Phone</th>
						<th class="text-truncate">Status</th>
						<th class="text-truncate">Tags</th>
						<th class="text-truncate d-none d-sm-table-cell">Notes</th>
						<th class="text-truncate">Actions</th>
				</thead>
				<tbody>
					<tr class="" v-for="(member, index) in squad_members"  >
						<td class="text-wrap" :title="member.displayName"> 
							<i v-if="member.replicant" class="fas fa-robot" style="color: Dodgerblue"></i>
							[[member.displayName]]
						</td>
						<td class="text-break d-none d-sm-table-cell" :title="member.email"> [[member.email]] </td>
						<td class="text-break d-none d-sm-table-cell" :title="member.phoneNumber"> [[member.phoneNumber]] </td>
						<td class="text-truncate" :title="getStatusText(member.status)" > [[getStatusText(member.status)]] </td>
						<td class="text-wrap"> 
							<span v-for="(tag, tagIndex) in member.tags" class="badge badge-secondary m-1">[[tag]] <a href="#" v-on:click="deleteMemberTag(member, tag, tagIndex)"><i class="fas fa-times-circle" style="color:white;"></i></a></span>
						</td>
						<td class="text-wrap d-none d-sm-table-cell"> 
								
								<a href="#" v-for="v,k in member.notes" v-on:click="showNote(k, v, member, index)" class="badge badge-info m-1">[[k]]</a>
						</td>
						<td class="text-wrap" align="center"> 
								<span v-if="member.status != 3">
									<a title="Remove Member" data-toggle="tooltip" v-on:click="removeMember(member.id, index)" href="#"><i class="fas fa-sign-out-alt fa-lg p-1"></i></a>
								</span>
								<span v-if="member.status != 3">
									<a title="Change member status" data-toggle="tooltip" v-on:click="changeStatus(member, index)" href="#"><i class="fas fa-chevron-circle-up fa-lg p-1"></i></i></a>
								</span>
								<span>
								<a title="Add Tag" data-toggle="tooltip" v-on:click="tagMember(member, index)" href="#"><i class="fas fa-tag fa-lg p-1"></i></a>
								</span>
								<span>
								<a title="Add Note" data-toggle="tooltip" v-on:click="addNote(member, index)" href="#"><i class="fas fa-edit fa-lg p-1"></i></a>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div v-if="getting_more" class="mt-5" align="center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div v-else class="m-3" align="center">
			<button type="button" class="btn btn-secondary btn-lg" v-on:click="getMore()">See More</button>
		</div>
	</div>
</div>

<script src="/static/components/notes.js"></script>
<script src="/static/components/members.js"></script>
<script src="/static/squadMembers.js"></script>
